<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GTFS" version="0.0.3.57" targetFramework="net40" />
  <package id="Droid_Web" version="1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="Tools4Libraries" version="1.0.10" targetFramework="net45" />
</packages>
